* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #FDFEFE;
  font-family: "Protest Riot", sans-serif;
}

img {
  pointer-events: none;
  user-select: none;
  -webkit-touch-callout: none;
}

.container {
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.milk-mocha-bear {
  width: 40rem;
  height: 40rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3.6rem;
  color: #f53699;
  text-align: center;
  margin-bottom: 2rem;
  padding: 0 2rem;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  gap: 1rem;
}

.btn {
  padding: 1.5rem 3.5rem;
  border: none;
  border-radius: 6px;

  color: white;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
}

.btn:hover {
  filter: brightness(85%);
}

.btn--yes {
  background-color: #40c057;
  transition: all 0.5s ease;
}

.btn--no {
  background-color: #f03e3e;
  transition: all 0.5s ease;
}

.btn--open {
  font-family: "Protest Riot", sans-serif;
  color: #EC1E27;
  font-size: 3rem;
  background: transparent;

  width: 50rem;
  height: 50rem;
  background-image: url("https://i.ibb.co/CHPYhck/panda-envelope.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.hidden {
  display: none;
}

.pulsing-3 {
  width: 100px;
  height: 100px;
  color: #dc1818;
  background:
    radial-gradient(circle at 60% 65%, currentColor 62%, #0000 65%) top left,
    radial-gradient(circle at 40% 65%, currentColor 62%, #0000 65%) top right,
    linear-gradient(to bottom left, currentColor 42%, #0000 43%) bottom left,
    linear-gradient(to bottom right, currentColor 42%, #0000 43%) bottom right;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  position: relative;

  transition: all 0.5s ease;
}

.pulsing-3:after {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  opacity: 0.4;
  animation: pl3 1s infinite;
}

@keyframes pl3 {
  to {
    transform: scale(1.8);
    opacity: 0
  }
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 2.5rem;
  }
}